*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  height: 10vh;
}
h1{
  font-family: 'Dancing Script', cursive;
}
.logo{
  font-family: 'Dancing Script', cursive;
font-family: 'Rajdhani', sans-serif;
color: rgb(238, 20, 165);
font-size: medium;
}
.admin{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}