*{padding: 0;margin: 0;box-sizing: border-box;}
/* .navbar {
  height:100px;
} */
h1{
  font-family: 'Dancing Script', cursive;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  font-family: 'Dancing Script', cursive;
font-family: 'Rajdhani', sans-serif;
color: rgb(238, 20, 165);
font-size: medium;
}
.checked{
  color: gold;
}
.reviews{
  background-color:lightpink;
 
}
.pimg {
  width: 100%;
  height:200px;
  object-fit: contain;
}
.priority{
  font-size: 2rem;
}
.first{
  font-size: 4rem;
}
.footer{
  background-color: #adb5bd;
}
.fcontents{
  list-style: none;
}
/* .rimg{
  width: 50%;
  height: 200px;
  object-fit: contain;
} */